<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Staff</title>
</head>
<body>

<h1>Add New Staff Member</h1>

<form th:action="@{/staff}" th:object="${staff}" method="post">

    <label>ID:</label><br>
    <input type="text" th:field="*{id}" /><br><br>

    <label>Name:</label><br>
    <input type="text" th:field="*{name}" /><br><br>

    <label>Phone Number:</label><br>
    <input type="text" th:field="*{phoneNumber}" /><br><br>

    <button type="submit">Save</button>
</form>

<br>
<a th:href="@{/staff}">Back to list</a>

</body>
</html>
