<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Teaching Assignment</title>
</head>
<body>

<h1>Edit Teaching Assignment</h1>

<form th:action="@{'/teachingassignments/' + ${assignment.id} + '/edit'}"
      th:object="${assignment}" method="post">

    <label>ID:</label><br>
    <input type="text" th:field="*{id}" readonly><br><br>

    <label>Teacher ID:</label><br>
    <input type="text" th:field="*{teacherId}"><br><br>

    <label>Course ID:</label><br>
    <input type="text" th:field="*{courseId}"><br><br>

    <label>Role:</label><br>
    <input type="text" th:field="*{role}"><br><br>

    <button type="submit">Save Changes</button>

</form>

<br>
<a th:href="@{/templates/teachingassignment}">Back to list</a>

</body>
</html>
