<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teaching Assignments</title>
</head>
<body>

<h1>All Teaching Assignments</h1>

<a th:href="@{/teachingassignments/new}">Add New Assignment</a>

<br><br>

<table border="1" cellpadding="6" cellspacing="0">
    <thead>
    <tr>
        <th>ID</th>
        <th>Teacher ID</th>
        <th>Course ID</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="assignment : ${assignments}">
        <td th:text="${assignment.id}"></td>
        <td th:text="${assignment.teacher.id}"></td>
        <td th:text="${assignment.course.id}"></td>
        <td th:text="${assignment.role}"></td>
        <td>
            <a th:href="@{'/teachingassignments/' + ${assignment.id}}">Details</a>
            &nbsp;|&nbsp;
            <a th:href="@{'/teachingassignments/' + ${assignment.id} + '/edit'}">Edit</a>
            &nbsp;|&nbsp;
            <form th:action="@{'/teachingassignments/' + ${assignment.id} + '/delete'}" method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>