<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Enrollment</title>
</head>
<body>

<h1>Edit Enrollment</h1>

<form th:action="@{'/enrollments/' + ${enrollment.id} + '/edit'}" th:object="${enrollment}" method="post">

    <label>ID:</label><br>
    <input type="text" th:field="*{id}" readonly><br><br>

    <label>Student ID:</label><br>
    <input type="text" th:field="*{studentId}"><br><br>

    <label>Course ID:</label><br>
    <input type="text" th:field="*{courseId}"><br><br>

    <label>Grade:</label><br>
    <input type="text" th:field="*{grade}"><br><br>

    <button type="submit">Save Changes</button>
</form>

<br>
<a th:href="@{/enrollments}">Back to list</a>

</body>
</html>
