<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Add Enrollment</title></head>
<body>

<h1>Add Enrollment</h1>

<form th:action="@{/enrollments}" th:object="${enrollment}" method="post">

    <label>ID:</label><br>
    <input type="text" th:field="*{id}">
    <span th:errors="*{id}"></span><br><br>

    <label>Student ID:</label><br>
    <input type="text" th:field="*{student}">
    <span th:errors="*{student}"></span><br><br>

    <label>Course ID:</label><br>
    <input type="text" th:field="*{course}">
    <span th:errors="*{course}"></span><br><br>

    <label>Grade:</label><br>
    <input type="text" th:field="*{grade}">
    <span th:errors="*{grade}"></span><br><br>

    <button type="submit">Save</button>
</form>

<a th:href="@{/enrollments}">Back</a>

</body>
</html>
