<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Room</title>
</head>
<body>

<h1>Edit Room</h1>

<form th:action="@{'/rooms/' + ${room.id} + '/edit'}"
      th:object="${room}" method="post">

    <label>ID:</label><br>
    <input type="text" th:field="*{id}" readonly><br><br>

    <label>Capacity:</label><br>
    <input type="number" th:field="*{capacity}">
    <span th:errors="*{capacity}"></span><br><br>

    <label>Number:</label><br>
    <input type="text" th:field="*{number}">
    <span th:errors="*{number}"></span><br><br>

    <label>Building:</label><br>
    <input type="text" th:field="*{building}">
    <span th:errors="*{building}"></span><br><br>

    <button type="submit">Save</button>
</form>

<a th:href="@{/rooms}">Cancel</a>

</body>
</html>
