<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Add Room</title></head>
<body>

<h1>Add Room</h1>

<form th:action="@{/rooms}" th:object="${room}" method="post">

    <label>ID:</label><br>
    <input type="text" th:field="*{id}">
    <span th:errors="*{id}"></span><br><br>

    <label>Capacity:</label><br>
    <input type="number" th:field="*{capacity}">
    <span th:errors="*{capacity}"></span><br><br>

    <label>Number:</label><br>
    <input type="text" th:field="*{number}">
    <span th:errors="*{number}"></span><br><br>

    <label>Building:</label><br>
    <input type="text" th:field="*{building}">
    <span th:errors="*{building}"></span><br><br>

    <button type="submit">Save</button>
</form>

<a th:href="@{/rooms}">Back</a>

</body>
</html>
