<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Department</title>
</head>
<body>

<h1>Edit Department</h1>

<form th:action="@{'/departments/' + ${department.id} + '/edit'}"
      th:object="${department}" method="post">

    <label>ID:</label><br>
    <input type="text" th:field="*{id}" readonly><br><br>

    <label>Name:</label><br>
    <input type="text" th:field="*{name}">
    <span th:errors="*{name}"></span><br><br>

    <label>Faculty:</label><br>
    <input type="text" th:field="*{faculty}">
    <span th:errors="*{faculty}"></span><br><br>

    <button type="submit">Save</button>
</form>

<a th:href="@{/departments}">Cancel</a>

</body>
</html>
